* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: grid;
    justify-content: center;
}

.todo-list {
    display: flex;
}

.wrapperDiv {
    display: flex;
    background-color: green;
    color: blue;
    cursor: move;
}

.dragging {
    background-color: purple;
}